Здравствуйте 
  <%= @user.surname    %>
  <%= @user.name        %>
  <%= @user.patronymic %>
мы рады приветствовать Вас в нашей системе координирования мероприятий школы Роберта Илинскас.

<p>В своей анкете Вы указали следующие данные:</p>
  <table>
    <tr>
      <td>  Страна проживания  </td>  <td> <%= @user.country    %> </td>
    </tr>
    <tr>
      <td>  Область - регион  </td>   <td> <%= @user.region     %> </td>
    </tr>
    <tr>
      <td>  Город  </td>              <td> <%= @user.city       %> </td>
    </tr>
    <tr>
      <td>  Контактный телефон  </td> <td> <%= @user.mobtel     %> </td>
    </tr>
    <tr>
      <td>  Skype  </td>              <td> <%= @user.skype      %> </td>
    </tr>
    <tr>
      <td>  ВКонтакте  </td>          <td> <%= @user.vk         %> </td>
    </tr>
    <tr>
      <td>  Пару слов о себе  </td>   <td> <%= @user.comment    %> </td>
  </table>
<p>Если вы ошиблись или хотите внести изменения, 
Вы можете сделать это перейда по ссылке...</p>

<p>Спасибо за регистрацию!</p>