<li>
  <%= gravatar_for user, size: 55 %>
  ФИО:    <%= link_to user.surname, user %>
          <%= link_to user.name, user %>
          <%= link_to user.patronymic, user %>
  <br>
  E-mail: <%= link_to user.email, user %>
  <br>
  ID user: <%= link_to user.id, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Удалить пользователя", user, method: :delete,
                                  data: { confirm: "Вы уверены?" } %>
  <% end %>
</li>