<% provide(:title, "Edit user") %>
<h1>Изменение Вашего профиля</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
<table>
  <tr>
    <td>
        Фамилия
        <%= f.text_field :surname %>
    </td>
    <td>
        Имя
        <%= f.text_field :name %>
    </td>
    <td>
        Отчество
        <%= f.text_field :patronymic %>
    </td>
  <tr>

        Электронная почта
        <%= f.email_field :email %>

  <tr>
    <td>
        Страна
        <%= f.text_field :country %>
    </td>
    <td>
        Область
        <%= f.text_field :region %>
    </td>
    <td>
        Город
        <%= f.text_field :city %>
    </td>
  <tr>

  <tr>
    <td>
        Телефон
        <%= f.text_field :mobtel %>
    </td>
    <td>
        Skype
        <%= f.text_field :skype %>
    </td>
    <td>
        ВКонтакте
        <%= f.text_field :vk %>
    </td>
  <tr>
</table>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>