<h1>
              <%= @event.name %>
</h1>

<table class="table table-striped">
      <thead>
        <tr>
          <th>Название мероприятия</th>
          <th>Город проведения</th>
          <th>Начало мероприятия</th>
          <th>Окончание мероприятия</th>
          <th>Предоплата</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= @event.name %> </td>
          <td> <%= @event.city %> </td>
          <td> <%= @event.started_at %> </td>
          <td> <%= @event.finished_at %> </td>
          <td> <%= @event.prepay_price %> </td>
        </tr>
      </tbody>
</table>

<h3>
              <%= @event.content.html_safe %>
</h3>

<hr>

<h2>Стоимость участия в мероприятии</h2>

<table class="table">
      <thead>
        <tr>
          <th>Дата</th>
          <th>Цена, руб.</th>
        </tr>
      </thead>
      <tbody>
        <% @event.prices.order(valid_till: :asc).each do |price| %>
          <tr>
            <td>до <%=l price.valid_till, format: :long %> </td>
            <td> <%= price.price %> </td>
          </tr>
        <% end %>
      </tbody>
</table>



<h1>
  Кнопка стать участником мероприятия
</h1>